/* Apply a blue background color to the body */
body {
  background-color: #1878f2;
  margin: 0;
}

main {
  padding-bottom: 60px;
  overflow-y: auto;
}

/* Style the title bar */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0d47a1;
  color: #fff;
}

/* Style the page title */
.title-bar .title {
  font-size: 30px;
  margin-left: 50px;
}

.title-bar nav a.active {
  text-decoration: underline;
}

/* Style the navigation links */
.title-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -50px;
}

.title-bar nav > ul > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.title-bar nav a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.title-bar nav a:hover {
  text-decoration: underline;
}

.title-bar nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background: #2980B9;
  min-width: 100%;
  margin-top: 0;
}

.title-bar nav ul ul li {
  width: 120%;
}

.title-bar nav ul ul a {
  display: block;
  padding: 15px 40px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.title-bar nav ul li:hover > ul {
  display: block;
  margin-top: 0; /* Add this line */
}

.title-bar nav ul li:hover > a {
  background-color: #1565c0;
  color: #fff;
}

.title-bar nav ul li:hover > ul li:hover > a {
  background-color: #4b545f;
}



/* Style specific for the home page */

.banner {
  text-align: center;
}

.banner img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: right;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dddddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.banner-text h2 {
  font-size: 36px;
  margin: 0;
}

.content {
  margin: 20px;
  text-align: left;
  font-size: 24px;
  color: #ffffff;
}

.why-xyz {
  background-color: #9ab9d1;
  padding: 20px;
}

.why-xyz-title {
  text-align: center;
  margin-bottom: 20px;
}

.why-xyz-title h3 {
  font-size: 24px;
}

.why-xyz-points {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 50%;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.column li .tick {
  position: absolute;
  top: 0;
  left: 0;
  color: #32a852;
}

/* Style specific for the services page */
.services main section {
  padding: 10px;
  color: #fff;
}

.services h1 {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}

.services main h2 {
  font-size: 24px;
  text-decoration: underline;
  color: #fff;
  padding: 10px;
}

.services main section p {
  font-size: 18px;
  line-height: 1.6;
}

.services main section ul {
  font-size: 18px;
  line-height: 1.6;
}

.services main section p u {
	color: #CDCDCD;
}

#services-description {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

#services-description img {
      margin-left: 20px;
      max-width: 50%;
    }
	

/* Style specific for the about page */
.about-us main section {
  padding: 10px;
  color: #fff;
}

.about-us h1 {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}


.about-us main section h2 {
  font-size: 24px;
  text-decoration: underline;
}

.about-us main section p {
  font-size: 18px;
  line-height: 1.6;
}

.about-us main section ul {
  font-size: 18px;
  line-height: 1.6;
}

/* Style specific for the careers page */
.careers main section {
  padding: 10px;
  color: #fff;
}

.careers h1 {
  font-size: 40px;
  padding: 10px;
  color: #fff;
}


.careers main section h2 {
  font-size: 24px;
  text-decoration: underline;
}

.careers main section p {
  font-size: 18px;
  line-height: 1.6;
}

.careers main section ul {
  font-size: 18px;
  line-height: 1.6;
}

.careers main section p u {
	color: #CDCDCD;
}

/* style specific for the contact us page */
 .contact-us main  {
	font-family: Arial, sans-serif;
    margin: 0;
    color: #fff;
    text-align: center;
	display: grid;
    place-items: center;
    padding: 20px;
  }

.contact-us main h2 {
    margin-bottom: 20px;
	font-size: 32px;
  }

  .contact-us form {
    display: grid;
    gap: 20px;
	max-width: 500px;
    width: 100%;
  }

  .contact-us label {
    grid-column: 1 / span 2;
  }

  .contact-us input[type="text"],
  .contact-us input[type="email"],
  .contact-us textarea {
    width: 100%;
    padding: 10px;
	height: 30px;
  }

  .contact-us button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }


/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #0a3d91;
  color: #fff;
  text-align: center;
  z-index: 1;
}
