/* Apply a blue background color to the body */
body {
  background-color: #1878f2;
  margin: 0;
}

main {
  padding-bottom: 60px; /* Adjust the padding to create space for the footer */
  overflow-y: auto;
}

/* Style the title bar */
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0d47a1;
  color: #fff;
}

/* Style the page title */
.title-bar .title {
  font-size: 30px;
  margin-left: 50px;
}

.title-bar nav a.active {
  text-decoration: underline;
}

/* Style the navigation links */
.title-bar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -50px; /* Adjust the left margin */
}

.title-bar nav > ul > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.title-bar nav a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.title-bar nav a:hover {
  text-decoration: underline;
}

.title-bar nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  background: #2980B9;
  min-width: 100%;
  margin-top: 0;
}

.title-bar nav ul ul li {
  width: 120%;
}

.title-bar nav ul ul a {
  display: block;
  padding: 15px 40px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.title-bar nav ul li:hover > ul {
  display: block;
  margin-top: 0; /* Add this line */
}

.title-bar nav ul li:hover > a {
  background-color: #1565c0;
  color: #fff;
}

.title-bar nav ul li:hover > ul li:hover > a {
  background-color: #4b545f;
}



/* Style specific for the home page */

.banner {
  text-align: center;
}

.banner img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: right;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dddddd;
  white-space: nowrap; /* Force the text to remain on one line */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) for truncated text */
}

.banner-text h2 {
  font-size: 36px;
  margin: 0;
}

.content {
  margin: 20px;
  text-align: left;
  font-size: 24px;
  color: #ffffff;
}

.why-xyz {
  background-color: #9ab9d1;
  padding: 20px;
}

.why-xyz-title {
  text-align: center;
  margin-bottom: 20px;
}

.why-xyz-title h3 {
  font-size: 24px;
}

.why-xyz-points {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 50%;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.column li .tick {
  position: absolute;
  top: 0;
  left: 0;
  color: #32a852;
}



/* Style specific for the about page */

/* Style the About Us sections */
.about-us main section {
  padding: 10px;
  color: #fff; /* Set the section title color to white */
}

.about-us h1 {
  font-size: 40px;
  padding: 10px;
  color: #fff; /* Set the section title color to white */
}


.about-us main section h2 {
  font-size: 24px;
  text-decoration: underline; /* Add underline */
}

.about-us main section p {
  font-size: 18px;
  line-height: 1.6;
}

.about-us main section ul {
  font-size: 18px;
  line-height: 1.6;
}



/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #0a3d91;
  color: #fff;
  text-align: center;
  z-index: 1;
}
